<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guitar-strap</title>
</head>
<body class="container py-3">
<header th:insert="block/header :: header" ></header>
<div  class="container-sm" style="width: 90%" >


    <div class="row g-5 py-3 row-cols-1 row-cols-lg-2">
        <div class="feature col">
            <strong> <img th:src="${guitarStrap.getFirstImage}" align="center" style="  width: 70%;"
                          alt="No photo"><strong>
        </div>

        <div class="feature col" >
            <h1 th:text="${guitarStrap.getNameOfProduct}"></h1><br>
            <h5 th:text="'Manufacturer: '+${guitarStrap.getManufacturer}"></h5>
            <h5 th:text="'Color: '+${guitarStrap.getColor}"></h5>
            <h5  th:text="'Material: '+${guitarStrap.getMaterial}" ></h5>
            <h5  th:text="'Width: '+${guitarStrap.getWidth}" ></h5>
            <h5    th:text="'Max length: '+${guitarStrap.getMaxLength}" ></h5>
            <h5    th:text="'Min length: '+${guitarStrap.getMinLength}" ></h5>

            <h5>Descriptions</h5>
            <p th:text="${guitarStrap.getDescriptions}"></p><br>
            <h4 th:text="'Price: '+${guitarStrap.getPrice}"></h4><br>

            <div th:if="${guitarStrap.getQuantity} >0" >
                <a th:href="'/addToOrderGuitarStrap'+${guitarStrap.getId}" class="btn btn-success">Buy</a>
            </div>


            <div th:if="${guitarStrap.getQuantity} == 0" >
                <a  class="btn btn-danger">Out of stock</a>
            </div>

        </div>




    </div>

</div>

<footer th:insert="block/footer :: footer"></footer>
</body>
</html>