<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body class="container py-3">
<header th:insert="block/header :: header" ></header>
<div  class="container-sm" style="width: 90%" >

    <h1 class="list-inline-item" >Orders</h1>

    <div class="list-inline-item">

        <div class="btn-group" role="group" aria-label="Basic example">
        </div>
        <a  class="btn btn-outline-success" href="/UserInf">Go back</a>

    </div>

    <center>
        <h2>Table orders</h2>
    </center>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Price</th>
            <th scope="col">Name</th>
            <th scope="col">Count</th>

        </tr>
        </thead>


        <tbody th:each="instance : ${guitars}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutGuitar'+${instance.getKey.getId}"class="btn btn-primary" >About</a>

                    </div>
                </center>
            </th>
        </tr>
        </tbody>

        <tbody th:each="instance : ${guitarString}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutGuitarStrings'+${instance.getKey.getId}"class="btn btn-primary" >About</a>

                    </div>
                </center>
            </th>

        </tr>
        </tbody>

        <tbody th:each="instance : ${mediators}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutMediator'+${instance.getKey.getId}"class="btn btn-primary" >About</a>

                    </div>
                </center>
            </th>

        </tr>
        </tbody>

        <tbody th:each="instance : ${instrumentCable}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutInstrumentCable'+${instance.getKey.getId}"class="btn btn-primary" >About</a>

                    </div>
                </center>
            </th>

        </tr>
        </tbody>


        <tbody th:each="instance : ${guitarStrap}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutGuitarStrap'+${instance.getKey.getId}"class="btn btn-primary" >About</a>

                    </div>
                </center>
            </th>

        </tr>
        </tbody>


        <tbody th:each="instance : ${comboAmplifier}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutСomboAmplifier'+${instance.getKey.getId}"class="btn btn-primary" >About</a>

                    </div>
                </center>
            </th>

        </tr>
        </tbody>


        <tbody th:each="instance : ${guitarCase}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutGuitarCase'+${instance.getKey.getId}"class="btn btn-primary" >About</a>

                    </div>
                </center>
            </th>

        </tr>
        </tbody>


        <tbody th:each="instance : ${guitarPedals}">
        <tr>
            <th th:text="${instance.getKey.getId}"></th>
            <th th:text="${instance.getKey.getPrice}"></th>
            <th th:text="${instance.getKey.getNameOfProduct}"></th>
            <th th:text="${instance.getValue}"></th>
            <th>
                <center>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a th:href="'/aboutGuitarPedal'+${instance.getKey.getId}"class="btn btn-primary" >About</a>
                    </div>
                </center>
            </th>

        </tr>
        </tbody>

    </table>




</div>
<footer th:insert="block/footer :: footer"></footer>
</body>
</html>